<header class="header">
	<div class="headerNew">
		<div class="headerNew__top">
<div class="container">
	<div class="flex-container flex-between flex-middle">
     <div class="headerNew__soc">
		 <a href="https://www.instagram.com"><img src="img/Path.svg"> </a>
		 <a href="https://www.facebook.com"><img src="img/instagram.svg"> </a>
	 </div>
		<div class="headerNew__logo">
			<i class=" icon icon-new-logo">
				<h1> We Art </h1>
			</i>
		</div>
		<div class="headerNew__link">
			<li class="lang__item en"><a hreflang="en" title="Eng (en)" class="qtranxs_text lang__link qtranxs_text lang__link_en">Eng</a></li>
			<li class="lang__item ru active"><a hreflang="ru" title="Рус (ru)" class="qtranxs_text lang__link qtranxs_text lang__link_ru">Рус</a></li>
			<li class="lang__item pl"><a  hreflang="pl" title="POL (pl)" class="qtranxs_text lang__link qtranxs_text lang__link_pl">POL</a></li>
			<li class="lang__item ua"><ahreflang="ua" title="UKR (ua)" class="qtranxs_text lang__link qtranxs_text lang__link_ua">UKR</a></li>
			</ul>
		</div>
	</div>
		<div class="headerNew__nav">
				<ul class="flex-container2 flex-between2 flex-middle2">
					<li class="menu-item"><a href="/">Про студію</a></li>
					<li class="menu-item1  "><a href="/">Портфоліо</a></li>
					<li class="menu-item2"><a href="/">Етапи роботи</a></li>
					<li class="menu-item3 "><a  href="/">Вартість</a></li>
					<li class="menu-item4 "><a  href="/">Еко-матеріали</a></li>
					<li class="menu-item5 "><a  href="/"> Контакти</a></li>


				</ul>
		</div>

</div>
		</div>
	</div>
</header>
