.btn {
	position: relative;
	display: inline-block;
	height: 44px;
	color: $colorBlack;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	padding: 0 20px;
	transition: all 0.3s ease;
	outline: none;
	cursor: pointer;

	&:hover,
	&:active{
		color: $colorWhite;
		outline: none;
	}
	&:focus{
		outline: none;
	}

	&.disabled,
	&[disabled]{
		pointer-events: none;
		opacity: 0.5;
		cursor: auto;
	}
}
