.flex-container {
	display: flex;
	justify-content: space-between;
	gap: 10px;
	.headerNew__soc {
		display: flex;
		margin: 27px;
		gap: 15px;

	}
	.headerNew__logo h1{
		font-family: 'Century Gothic';
		font-style: normal;
		font-size: 40px;
		font-weight: 200;
		line-height: 45px;
		letter-spacing: 1px;
		text-transform: uppercase;

		color: #181819;
		display: flex;
		margin: 10px;
		gap: 15px;

	}
	.headerNew__link{
		font-family: 'Century Gothic';
		font-style: normal;
		font-weight: 400;
		font-size: 11px;
		line-height: 13px;
		letter-spacing: 1px;
		text-transform: uppercase;

		color: #9999A0;
		display: flex;
		margin: 27px;
		gap: 15px;
	}
}
.headerNew__nav {
	display: flex;
	margin: 27px;
	gap: 15px;

	ul.flex-container2 {
		display: flex;
		justify-content: space-between;
		gap: 10px;
		width: 100%;


		.menu-item a {
			font-family: 'Century Gothic';
			font-style: normal;
			font-weight: 400;
			font-size: 11px;
			line-height: 13px;
			letter-spacing: 1px;
			text-transform: uppercase;

			color: #181819;
			//text-shadow: 2px 2px 2px rgba(0,0,0,0.2);

		}

		.menu-item1 a {
			font-family: 'Century Gothic';
			font-style: normal;
			font-weight: 400;
			font-size: 11px;
			line-height: 13px;
			letter-spacing: 1px;
			text-transform: uppercase;

			color: #181819;
			//text-shadow: 2px 2px 2px rgba(0,0,0,0.2);

		}

		.menu-item2 a {

			font-family: 'Century Gothic';
			font-style: normal;
			font-weight: 400;
			font-size: 11px;
			line-height: 13px;
			letter-spacing: 1px;
			text-transform: uppercase;

			color: #181819;
		}

		.menu-item3 a {

			font-family: 'Century Gothic';
			font-style: normal;
			font-weight: 400;
			font-size: 11px;
			line-height: 13px;
			letter-spacing: 1px;
			text-transform: uppercase;

			color: #181819;
		}

		.menu-item4 a {

			font-family: 'Century Gothic';
			font-style: normal;
			font-weight: 400;
			font-size: 11px;
			line-height: 13px;
			letter-spacing: 1px;
			text-transform: uppercase;

			color: #181819;
		}

		.menu-item5 a {

			font-family: 'Century Gothic';
			font-style: normal;
			font-weight: 400;
			font-size: 11px;
			line-height: 13px;
			letter-spacing: 1px;
			text-transform: uppercase;

			color: #181819;
		}

	}
}

.container2 {
	display: flex;
	margin: 27px;
	gap: 15px;
	flex

	.section-title {
		width: 100%;
		 h1 {
			position: absolute;
			width: 272px;
			height: 44px;
			left: 553px;
			top: 818px;

			font-family: 'Century Gothic';
			font-style: normal;
			font-weight: 400;
			font-size: 36px;
			line-height: 44px;

			color: #181819;


		}

	}
	.projects-grid{
		display: flex;
		justify-content: space-between;
		gap: 10px;
		width: 100%;


		 a{
			flex-direction: column;
			display: flex;
			justify-content: space-between;
			width: 33%;

			//justify-content: space-between;
		//	gap: 10px;
			//width: 100%;
		}

	}
}

